/* styles.module.css */

.section11 {
  margin: 6rem 0 0 0;
  height: 30rem;
}

.section11 h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  width: fit-content;
}

.cards {
  width: 70%;
  display: flex;
  gap: 1rem;
  overflow-x: auto; 
  overflow-y: hidden;
  margin: auto;
}
.adminCards {
  width: 70%;
  display: flex;
  margin: auto;
  gap: 1rem;
  height: fit-content;
  margin-bottom: 8rem;
  overflow-x: auto;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(251, 243, 222);
  padding: 0.8rem;
  border-radius: 1rem;
  transition: all 0.8s ease;
  overflow-y: hidden;
  height: 12rem;
  width: 20rem;
}

.admincard{
  display: flex;
  flex-direction: column;
  background-color: rgb(251, 243, 222);
  padding: 0.8rem;
  border-radius: 1rem;
  transition: all 0.8s;
  height: fit-content;
  width: 20rem;
}

.card button , .admincard button{
  margin-top: 1.5rem;
  background-color: black;
  color: white;
  border-radius: 2rem;
  padding: 0.5rem;
  width: 6rem;
  text-align: center;
  align-self: flex-end;
  cursor: pointer;
}

.card:hover {
  background-color: rgb(237, 214, 158);
  height: 15rem;
}

.card-list {
  padding-left: 1rem;
}

.card-list li {
  display: flex;
  align-items: center;
}

.adminSection11 h2{
  margin: 6rem 0 2rem 15vw;
  font-size: 3rem;
}




.card-list li::before {
  content: "\2022"; /* Unicode character for bullet point */
  margin-right: 0.5rem;
  font-size: 2rem; /* Adjust size of the bullet point */
  color: black; /* Color of the bullet point */
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.addVac{
  border-radius: 4rem;
  border-color: transparent;
  height: 2.5rem;
  color: white;
  background-color: rgb(71, 156, 71);
  margin: 0 0 2.5rem 15vw;
  cursor: pointer;
}




