.section12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid rgba(43, 38, 38, 0.305);
    gap: 1rem;
    height: 20rem;
  }
  
  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }
  
  .logoContainer img {
    height: 4rem;
  }
  
  .contactDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 2rem;
  }
  
  .address, .email {
    display: flex;
    gap: .6rem;
    justify-content: center;
    align-items: center;
  }
  
  .address img, .email img {
    height: 2rem;
    background-color: rgb(100, 219, 112);
    padding: .3rem;
    border-radius: 50%;
  }
  
  .appStoreButton {
    display: flex;
    width: 8.3rem;
    background-color: black;
    color: white;
    align-items: center;
    border-radius: 0.5rem;
    height: 2.5rem;
  }
  
  .appStoreButton img {
    height: 70%;
    margin: 0 0.3rem 0 0.3rem;
  }
  
  .appStoreButtonText {
    width: 70%;
    font-size: .5rem;
  }

  .logoTitle{
    margin: 0;
  }
  
 .logoSubtitle {
    font-size: 1rem;
    margin: 0;
  }
  
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  
  .copyright img {
    height:1.2rem;
    margin: .2rem;
  }
  