.fullPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.full{
    position: relative;
    height: 80%;
    width: 90%;
    background-color: #fff0e4;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}
.icon7{
    position: absolute;
    top:-2.7rem;
    left: 75vw;
    height: 5.6rem;
    width: 4srem;
}
.icon5{
    position: absolute;
    top: 28vw;
    left: 32vw;
    height: 1.3rem;
}
.icon5_2{
    position: absolute;
     top: -12vw; 
     left: 27vw; 
    height: 1.3rem;
}
.icon6{
    position: absolute;
    top: 32vw;
    left: 30vw;
    height: 3rem;
}

.title{
    height: 25%;
    padding: 10% 0 0 4%;
}

.mainTitle{
    margin-top: 1rem;
    font-size: 3.7rem;
    font-weight: 500;
}

.lowerSection{
    display: flex;

}

.lowerLeft{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.graycircle{
    height: 15vw;
    width: 15vw;
    border-radius: 100%;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whitecircle{
    height: 13vw;
    width: 13vw;
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon8{
    position: absolute;
    height: 4vw;
    top: -1.3vw;
}
.img2{
    height: 8vw;
}

.lowerRight{
    position: relative;
    font-weight: 200;
    padding: 4rem 7rem 0 0 ;
    font-size: 1.5rem;
    width: 50%;
}